.page--create {
  padding-top: 100px;
}

.create-page__h3 {
  margin-left: 10px;
}
.create-input {
  padding: 10px;
  margin-left: 10px;
  border-radius: 10px;
}

.fieldset {
  background-color: var(--secondary-color);
  border-radius: 10px;
  margin: 10px 0;
  display: grid;
  justify-items: start;
  gap: 5px;
}
