.footer {
    background-color: var(--tertiary-color);
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    display: sticky;
    flex-direction: column;
}
.navigation {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
}
.home-button {
    width: 15%; height: auto;
    size-adjust: 10%;
    fill: var(--primary-color)
}
.bookmark-button {
    width: 35px; height: auto;
    size-adjust: 10%;
    fill: var(--primary-color)
}
.profile-button {
    width: 12%; height: auto;
    size-adjust: 10%;
    fill: var(--primary-color)
}
.home-button:hover {
    fill: #ff5e6c;
}
.bookmark-button:hover {
    fill: #ff5e6c;
}
.profile-button:hover {
    fill: #ff5e6c;
}