.question-card {
  background-color: var(--secondary-color);
  border: 2px solid black;
  max-width: 350px;
  min-height: 200px;
  text-align: center;
  border-radius: 10px;
  top: 75px;
  bottom: 75px;
  margin: 25px;
  position: relative;
  box-shadow: 5px 5px 5px lightgrey;
}
.question {
  font-size: 40px;
  margin-top: 30px;
  size: 40px;
}
.show-answer {
  border: 2px solid black;
  text-align: center;
  color: var(--sixth-color);
  background-color: var(--tertiary-color);
  border-radius: 5px;
  border: none;
  font-size: inherit;
  margin-bottom: 25px;
}
.hidden {
  display: none;
}
.card__tag-list[role="list"] {
  display: flex;
  justify-content: left;
  gap: 8px;
  margin-top: 25px;
  margin-left: 5px;
}
.tag {
  border: 1.5px solid black;
  border-radius: 5px;
  background-color: var(--fifth-color);
}
.bookmark-svg {
  all: unset;
  width: 40px;
  height: auto;
  position: absolute;
  padding: 5px;
  top: -15px;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bookmark-fill {
  fill: #ff5e6c;
}
